
.videoTextContainer {
  @apply xl:col-span-6 col-span-11 ml-6 sm:ml-0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.bulletContainer { 
  @apply col-span-1 ;
}

.video {
  @apply w-full rounded-lg col-span-12 xl:col-span-5;
  margin-top: 40px;
}