.separator {
  @apply col-span-12 mt-32 xl:mt-16;
}
.textContainer {
  @apply xl:col-span-6 col-span-11 ml-6 sm:ml-0 mt-14 md:mt-10 xl:mt-0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bulletContainer {
  @apply col-span-1;
}

.numberCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: solid 2px var(--primary-blue-500, #181ea9);
  color: var(--primary-blue-500, #181ea9);
  font-size: 24px;
  font-family: Kanit;
  font-weight: 600;
}

.ornamentContainer {
  @apply col-span-12 xl:col-span-5 mt-32 mt-0 xl:mt-32;
}
