

.textContainer {
  @apply xl:col-span-6 col-span-11 ml-6 sm:ml-0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.bulletContainer { 
  @apply col-span-1 ;
}

.numberCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: solid 2px var(--primary-blue-500, #181EA9);
  color: var(--primary-blue-500, #181EA9);
  font-size: 24px;
  font-family: Kanit;
  font-weight: 600;
}

