.yagnaLogo {
  font-size: 9px;
  font-weight: 500  ;
  letter-spacing: 1.08;
  line-height: 130%; 
  font-style:normal;
}

/* for some reason tails min-w-  utility doesnt work 
TODO : check why 
*/
.tokenIconContainer {
  min-width: 80px
}