@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 2s linear infinite;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: .2;
    transform: scale(0.5);
  }
}

.pulsar {
  animation: customPulse 0.1s infinite cubic-bezier(0.4, 0, 0.6, 1);
}