.card {
  @apply col-span-3;
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  border-radius: 20px;
  border: 1.5px solid #181EA9;

  background: #FFF;

  box-shadow: -8px -3px 33px 0px rgba(24, 30, 169, 0.04) inset;
  backdrop-filter: blur(2.5px);
  cursor: pointer;
  transition: z-index 0.5s ease-in-out;
}

.card:hover {
  border-radius: 20px;
  border: 1.5px solid #181EA9;

  background: #E5EBFF;
  z-index: 101;
  /* horizontal offset, vertical offset, blur radius, color */

  backdrop-filter: blur(2.5px);
}

.selected {
  border-radius: 20px;
  border: 1.5px solid #181EA9;

  background: #E5EBFF;

  box-shadow: 0px 0px 5px #181EA9;
  backdrop-filter: blur(2.5px);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: stretch;
  width: 100%;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  height: 235px;
}

.cost {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.headLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.caps10px {
  color: var(--neutrals-gray-300, #404B63);
  font-family: Kanit;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
}

.title {
  color: var(--primary-blue-500, #181EA9);
  font-family: Kanit;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;

}

.time {
  color: var(--primary-blue-500, #181EA9);
  /* Headers/Header 1 | Kanit Regular 60px */
  font-family: Kanit;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  /* 63px */
  letter-spacing: -1.8px;
}

.machineDescription {
  color: var(--neutrals-gray-300, #404B63);
  font-family: Kanit;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 14px */
  text-transform: uppercase;
}

.description {
  color: var(--primary-blue-700-hover, #0C0E55);
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}


.icon {
  @apply w-6 h-6 text-primary;
}