.cardLanding{
  @apply xl:col-span-4 col-span-12;
  border-radius: 20px;
  border: 1px solid #181EA9;
  background: #F6F8FC;
  box-shadow: -8px -3px 33px 0px rgba(24, 30, 169, 0.04) inset;
  backdrop-filter: blur(2.5px);  width:100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  gap: 24px;
  border: 1px solid #181EA9;
  background: #F6F8FC;
  box-shadow: -8px -3px 33px 0px rgba(24, 30, 169, 0.04) inset;
  backdrop-filter: blur(2.5px);
  padding: 48px 56px;
  height: 100%;
}

.cardFinish{
  @apply xl:col-span-3;
  border-radius: 20px;
  border: 1px solid #181EA9;
  background: #F6F8FC;
  box-shadow: -8px -3px 33px 0px rgba(24, 30, 169, 0.04) inset;
  backdrop-filter: blur(2.5px);  width:100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border: 1px solid #181EA9;
  background: #F6F8FC;
  box-shadow: -8px -3px 33px 0px rgba(24, 30, 169, 0.04) inset;
  backdrop-filter: blur(2.5px);
  padding: 32px;
  height: 100%;
}

.titleLanding{
  @apply text-3xl;
color: var(--neutrals-gray-400, #1D222D);
  /* Headers/Header 3 | Kanit Regular 32px */
  font-family: Kanit;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 38.4px */
  letter-spacing: -0.64px;
}



.descriptionLanding {
color: var(--neutrals-gray-400, #1D222D);
  /* Headers/Header 8 | Kanit Regular 18px */
  font-family: Kanit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 23.4px */
  letter-spacing: -0.18px;
}

.descriptionFinish {
  @apply text-neutral-grey-300 text-body-normal;
  text-align: left
}

.exploreButtonLanding {
  @apply text-sm;
  margin-top: auto;
  display: flex;
  padding: 9px 4px;
  align-items: center;
  gap: 13px;
  border-radius: 3px;
  border-bottom: 1px solid var(--primary-blue-500, #181EA9);
  color: var(--primary-blue-500, #181EA9);
  line-height: 16px;
}

.exploreButtonFinish{
  @apply px-9 py-4 text-button-large;
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 13px;
  border-radius: 3px;
  border-bottom: 1px solid var(--primary-blue-500, #181EA9);
}

.badgeLanding {
  display: flex;
  padding: 2px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.80);
  color : var(--primary-blue-500, #181EA9);
}

.topLanding { 
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.topFinish { 
  @apply text-neutral-grey-300 gap-3 text-h7;

  display: flex;
  align-items: center;
  width: 100%;
}

.contentLanding {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.contentFinish {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  height: 100%;
}

.iconFinish{ 
  @apply w-6 h-6 text-primary
}