

.button {
  display: flex;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
    /* 114.286% */
}

.outline {
  border-radius: 3px;
  border: 1px solid var(--primary-blue-500, #181EA9);
  background: var(--white, #FFF);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.outline:hover{
  border-radius: 3px;
  border: 1px solid var(--primary-blue-700-hover, #0C0E55);
  background: var(--primary-blue-50, #F6F8FC);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.outline:active{
  border-radius: 3px;
  border: 1px solid var(--primary-blue-500, #181EA9);
  background: var(--white, #FFF);
  box-shadow: 0px 0px 0px 3px #181EA9, 0px 0px 0px 2px #FFF, 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.outline:disabled{
  border-radius: 3px;
  border: 1px solid var(--neutrals-gray-200, #A2A3B9);
  background: var(--white, #FFF);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.solid {
  color: var(--white, #FFF);
  border-radius: 3px;
  background: var(--primary-blue-500, #181EA9);

  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.solid:hover{
  border-radius: 3px;
  background: var(--primary-blue-700-hover, #0C0E55);

  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.solid:active{
  border-radius: 3px;
  background: var(--primary-blue-500, #181EA9);

  /* shadow/sm/focus:ring-2/focus:ring-offset-2 focus:ring-offset-white focus:ring-indigo-500 */
  box-shadow: 0px 0px 0px 3px #181EA9, 0px 0px 0px 2px #FFF, 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.solid:disabled{
  border-radius: 3px;
  background: var(--neutrals-gray-200, #A2A3B9);

  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.underline{
  border-radius: 3px 3px 0px 0px;
  border-bottom: 1px solid var(--primary-blue-500, #181EA9);
  background: var(--white, #FFF);
}

.underline:hover{
  border-radius: 3px 3px 0px 0px;
  border-bottom: 4px solid var(--primary-blue-700-hover, #0C0E55);
  background: var(--Default-Neutral-White, #FFF);
  /* /shadow/md */
  padding-bottom: 6px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 4px 6px -1px rgba(0, 0, 0, 0.10);
}

.underline:active{
  border-radius: 3px;
  border: 1px solid var(--primary-blue-500, #181EA9);
  background: var(--Default-Neutral-White, #FFF);

  /* shadow/sm/focus:ring-2/focus:ring-offset-2 focus:ring-offset-white focus:ring-indigo-500 */
  box-shadow: 0px 0px 0px 3px #181EA9, 0px 0px 0px 2px #FFF, 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.underline:disabled{
  border-radius: 3px 3px 0px 0px;
  border-bottom: 1px solid var(--neutrals-gray-200, #A2A3B9);
  background: var(--Default-Neutral-White, #FFF);
}