

.card {
  border-radius: 20px;
  border: 1px solid #181EA9;
  background: #F6F8FC;
  box-shadow: -8px -3px 33px 0px rgba(24, 30, 169, 0.04) inset;
  backdrop-filter: blur(2.5px);
  border: 1px solid #181EA9;
  background: #F6F8FC;
  box-shadow: -8px -3px 33px 0px rgba(24, 30, 169, 0.04) inset;
  backdrop-filter: blur(2.5px);
  padding: 32px 48px;
  height: 100%;
}


