.card {
  border-radius: 16px;
  border: 1px solid var(--Stroke-light, #181EA9);
  background: var(--white, #FFF);
  box-shadow: 0px 0px 15px 0px rgba(24, 30, 169, 0.10);
  display: inline-flex;
  padding: 63px 38px 40px 38px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.title {
  color: var(--primary-blue-700-hover, #0C0E55);
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.2px;
}

.description {
  @apply flex flex-col gap-4;
  color: var(--primary-blue-700-hover, #0C0E55);
  font-family: Kanit-Light;
  font-size: 16px;
  font-weight: 100;
  line-height: 140%;
}

.container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

