@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}


@font-face {
  font-family: 'Kanit';
  src: url('/fonts/Kanit-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Mono';
  src: url('/fonts/DMMono-Regular.ttf') format('truetype');
}

.blackText {
  color: var(--neutrals-gray-400, #1D222D);
  /* Headers/Header 6 | Kanit Regular 20px */
  font-family: Kanit;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
    /* 24px */
  letter-spacing: -0.2px;
}

body {
  font-family: 'Kanit'
}

button.bordered {
  border-radius: 3px;
  border: 1px solid var(--primary-blue-500, #181EA9);
}

.fadingLine {
  width: 1px;
  background: linear-gradient(to bottom, rgba(24, 30, 169, 0) 0px, rgba(24, 30, 169, 0.5) 15px, rgba(24, 30, 169, 0.5) 80%, rgba(24, 30, 169, 0) 100%);
  margin: 0 auto;
  /* Center the line horizontally */
  backdrop-filter: blur(50px);
}