.ellipse_1 {
  position: absolute;
  width: 3622px;
  height: 3222px;
  top: -1858px;
  left: -1682px;
  overflow: hidden;
  border-radius: 3622px;
  opacity: 0.2;
  background: var(--Background-BG-effect-top, radial-gradient(35.95% 35.95% at 50% 50%, #181EA9 0%, rgba(24, 30, 169, 0.26) 70.16%, rgba(24, 30, 169, 0.00) 100%));
  z-index: -1;
}

.ellipse_2 {
  position: absolute;
  width: 5656px;
  height: 5656px;
  top: -928px;
  left: -1132px;
  border-radius: 5656px;
  background: var(--Background-BG-effect-center, radial-gradient(35.95% 35.95% at 50% 50%, rgba(24, 30, 169, 0.11) 0%, rgba(24, 30, 169, 0.00) 100%));
  overflow: hidden;
  z-index: -1;
}

/* .container {
  position: relative;
  overflow: hidden;
  height: 1000px;
} */