.ellipse_1 {
  position: absolute;
  width: 3622px; 
  height: 3222px;
  top: -1688px; 
  left: -1591px;
  border-radius: 3622px;
  opacity: 0.2; 
  background: radial-gradient(35.95% 35.95% at 50% 50%, #181EA9 0%, rgba(24, 30, 169, 0.26) 70.16%, rgba(24, 30, 169, 0.00) 100%);
}

.ellipse_2 {
  position: absolute;
  width: 5656px;
  height: 5656px;
  top: -198px;
  left: -1172px;
  border-radius: 5656px;
  background: radial-gradient(35.95% 35.95% at 50% 50%, rgba(24, 30, 169, 0.11) 0%, rgba(24, 30, 169, 0.00) 100%);
}

.ellipse_3 {
  position: absolute;
  width: 4223px;
  height: 4223px;
  top: 2522px;
  left: -1923px;
  border-radius: 4223px;
  background: radial-gradient(35.95% 35.95% at 50% 50%, rgba(14, 19, 124, 0.18) 0%, rgba(24, 30, 169, 0.05) 48.44%, rgba(24, 30, 169, 0.00) 100%);
}

@media (max-width: 1280px) {
  .ellipse_1 {
    top: -1688px;
    left: -2248px;
  }

  .ellipse_2 {
    top: 360px;
    left: -676px;
    width: 2488px;
    height: 2488px;
  }

  .ellipse_3 {
    top: 1071;
    left: -2423px;
  }
}


.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}



