.container {
  display: flex;
  height: 100%;
}

.bulletContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:24px;
  gap:18px;
}

.dotContainer {
  order:2;
    position: relative;
      /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;

}

.topStroke {
  order : 1;
  height: 45px;
}

.bottomStroke {
  order:3;
  flex-grow: 100;
}

.fadingLine {
  width: 1px;
  background: linear-gradient(to bottom, rgba(24, 30, 169, 0) 0px, rgba(24, 30, 169, 0.5) 15px, rgba(24, 30, 169, 0.5) 80%, rgba(24, 30, 169, 0) 100%);    margin: 0 auto;
  /* Center the line horizontally */

  
    backdrop-filter: blur(50px);
}